:root{
    --dark-color: #b7cef0;
    --blue-color: #0f0ced;
    --secion-color:#8bc9f6;
    --num-color:#d0e8fa;
}
body{
    font-family: "Roboto",sans-serif;
    background-color:#f1f1fa;
}
.navbar{
    background-color: var(--dark-color);
}
.img{
    background-color: absolute;
    width: 30px;
    height: 35px;
  }
  .image{
    background-color: absolute;
    width: 100px;
    height: 110px;
  }
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover{
color:var(--blue-color);
  }
  .nav .search{
    border-left:1px solid var(--blue-color);
    color: var(--blue-color);
  }
  .navbar .navbar-toggler:focus{
    color:wheat;
    font-size: 20px;
    border-color: wheat;
  }
  .Landing{
    background-color:#ededfa;
    min-height: calc(100vh -72px);
  }
 
.main-title1{
contain:'' ;
width:120px;
height:2px;
background-color:#0d0b62 ;
position: absolute;
bottom: -10px;
left:100%;
transform: translateX(-510%);
  }
/*featuers */
.featuesr .icon-holder{ 
  height: 200px;
}
.featuesr .icon-holder svg{
left: 50%;
transform: translateX(-50%);

}
.featuesr .icon-holder .number{
  font-size: 12rem;
  color:var(--num-color);
}
.featuesr .feat h4{
  color: var(--secion-color)
}